<h1>Eat-Da-Burger</h1>

<h2>Burger selection:</h2>

<ul>
  {{#each burgers}}
    {{#unless eaten}}
      {{> burgers/burger-block devoured=false}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Devoured burgers:</h2>

<ul>
  {{#each burgers}}
    {{#if eaten}}
      {{> burgers/burger-block devoured=true}}
    {{/if}}
  {{/each}}
</ul>

<h2>Eat-Da-Burger!</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger">Burger:</label>
    <input type="text" id="burger" name="name">
  </div>

  <div class="form-group">
    <label for="eaten">Devour it?</label><br>
    <input type="radio" name="eaten" value="1" checked> Devour it!<br>
    <input type="radio" name="eaten" value="0"> No, thank you.
  </div>

  <button type="submit">Devour It!</button>
</form>
