<h1>Eat-Da-Burger</h1>

<h2>Add a burger to the Queue!</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger">Burger:</label>
    <input type="text" id="newBurger" name="name">
  </div>

  <div class="form-group">
    <label for="ca">Looks tasty??</label><br>
    <input type="radio" name="ca" value="1" checked> Yes, please!<br>
    <input type="radio" name="ca" value="0"> No, thank you.
  </div>

  <button type="submit">Add Burger</button>
</form>

<h2>Burger selection:</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Devoured burgers:</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/if}}
  {{/each}}
</ul>
