body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  background-color: #ffae42;
}

#burger_ting {
  align-self: center;
}

li {
  padding: 5px;
  margin: 5px;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.create-form {
  font-weight: bold;
}

.addNewBurger {
  background-color: #77DD77;
  width: 100px;
  height: 40px;
  border-radius: 15px;
  font-weight: bold;
}